body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#bg-top {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #33ccff;
}

#bg-down {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    background-color: #996600;
}

#background {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
    background-image: url("./sprites/background.png");
}

#grass {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
    background-image: url("./sprites/grass.png");
}

.sprite {
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 70px; */
    height: auto;
    position: absolute;
}