body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#bg-top {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #33ccff;
}

#bg-down {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    background-color: #996600;
}

#background {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
    background-image: url("./sprites/background.png");
}

.sprite {
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 70px; */
    height: auto;
    position: absolute;
}

#grass {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
    background-image: url("./sprites/grass.png");
}

.hitbox {
    z-index: 4;
    position: absolute;
    background-color: rgb(228, 129, 129);
    opacity: 0.7;
    border-radius: 50%;
}

.interface-element {
    z-index: 5;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: bisque;
    opacity: 1;
    border-radius: 20px;
    border: 5px solid;
    border-color: rgb(58, 56, 53);
    font-weight: bold;
    font-size: large;
    color: rgb(58, 56, 53);
}

#timer {
    top: 40px;
    left: calc(100% - 140px);
    width: 90px;
    height: 45px;
}

.overlay {
    z-index: 6;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: rgb(124, 123, 123);
}

.modal {
    z-index: 7;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    opacity: 0.7;
    border-radius: 20px;
    border: 10px solid;
    border-color: rgb(58, 56, 53);
}

.modal-button {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 13vh;
    background-color: rgb(255, 255, 255);
    /* opacity: 1; */
    border-radius: 10px;
    border: 5px;
    border-style: solid;
    border-color: rgb(58, 56, 53);
    font-weight: bold;
    font-size: xx-large;
    color: rgb(58, 56, 53);
}

.modal-button:hover {
    transform: scale(1.4);
}

.modal-button:active {
    background-color: #b9c0c2;
    /* border-color: rgb(58, 56, 53); */
}


.hidden {
    display: none;
}

/*extra small devices*/
@media (max-width: 490px) {
    .modal {
        width: 70%;
        height: 40%;
    }
    .modal-button {
        font-size: large;
        width: 100px;
        height: 50px;
    }
    .modal-button:hover {
        transform: scale(1.2);
    }
}

/*mobile devices*/
@media (min-width:291px) and (max-width: 480px) {
    .modal {
        width: 70%;
        height: 30%;
    }
    .modal-button {
        font-size: large;
        width: 120px;
        height: 60px;
    }
    .modal-button:hover {
        transform: scale(1.3);
    }
}

/*iPads, Tablets*/
@media (min-width:481px) and (max-width: 768px) {
    .modal-button {
        font-size: x-large;
        width: 150px;
        height: 70px;
    }
    .modal-button:hover {
        transform: scale(1.3);
    }
}

/*small screens, laptops*/
@media (min-width: 769px) and (max-width: 1024px) {
    .modal-button {
        font-size: x-large;
    }
}

/*desctops, large screens*/
@media (min-width: 1025px) and (max-width: 1200px) {
    .modal-button {
        font-size: x-large;
        width: 18vw;
        height: 15vh;
    }
}

/*extra large screens, TV*/
@media (min-width: 1201px) {
    .modal {
        width: 50%;
        height: 50%;
    }
    .modal-button {
        font-size: xx-large;
        width: 15vw;
        height: 15vh;
    }
}