@font-face {
    font-family: 'press_start_2pregular';
    src: url('./fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
        url('./fonts/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'duckHunt';
    src: url('./fonts/m29.woff2') format('woff2'),
        url('./fonts/m29.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

hr {
    padding: 0;
    margin: 0;
    border-color: #996600;
    background-color: #996600;
    box-sizing: border-box;
    width: 37.5vw;
    height: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: #33ccff;
    font-size: 7.5vw;
    letter-spacing: 1.5px;
}
.start-menu-text {
    padding: 3vh;
    box-sizing: border-box;
    font-family: 'duckHunt';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
}
.top-score {
    font-size: 1.25vw;
    font-family: 'press_start_2pregular';
    color: #00ff08;
}
.blink-me {
    font-size: 2vw;
    padding: 20vh;
    color: #ffffff;
    animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

body {
    /* background-color: black; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'press_start_2pregular';
    user-select: none;
}

#bg-top {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #33ccff;
}

#bg-down {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    background-color: #996600;
}

#background {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
    background-image: url("./sprites/background.png");
}

.sprite {
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 70px; */
    height: auto;
    position: absolute;
}

#grass {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
    background-image: url("./sprites/grass.png");
}

.hitbox {
    z-index: 4;
    position: absolute;
    background-color: rgb(228, 129, 129);
    opacity: 0;
    border-radius: 50%;
}

.interface-element {
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: bisque;
    opacity: 1;
    border-radius: 20px;
    border: 5px solid;
    border-color: rgb(58, 56, 53);
    font-weight: bold;
    font-size: large;
    color: rgb(58, 56, 53);
}

#timer {
    position: absolute;
    top: 40px;
    left: calc(100% - 160px);
    width: 110px;
    height: 45px;
}

/* .grid-container {
    z-index: 5;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 30px;
    padding: 0px 50px;
    top: calc(100% - 150px);
    left: 0;
    width: 100%;
    height: 100px;
}

.grid-container>div {
    position: relative;
    height: 100%;
    width: 90%;
} */

.flex-container {
    z-index: 5;
    position: absolute;
    display: flex;
    gap: 20px;
    margin: 0 0;
    padding: 0 0;
    top: calc(100% - 130px);
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100px;
}

.flex-container>div {
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

#shot {
    width: 200px;
}

#hit {
    width: 500px;
}

#score {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: x-large;
}

.bullet {
    width: 40px;
    height: auto;
}

.hit-duck {
    width: 30px;
    height: auto;
}

.overlay {
    z-index: 6;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: rgb(124, 123, 123);
}

.modal {
    z-index: 7;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    opacity: 0.7;
    border-radius: 20px;
    border: 10px solid;
    border-color: rgb(58, 56, 53);
}

.modal-button {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 13vh;
    background-color: rgb(255, 255, 255);
    /* opacity: 1; */
    border-radius: 10px;
    border: 5px;
    border-style: solid;
    border-color: rgb(58, 56, 53);
    font-family: 'press_start_2pregular';
    font-weight: bold;
    font-size: xx-large;
    color: rgb(58, 56, 53);
    transition: transform 300ms;
}

.modal-button:hover {
    transform: scale(1.4);
}

.modal-button:active {
    background-color: #b9c0c2;
    /* border-color: rgb(58, 56, 53); */
}

.hidden {
    display: none;
}

/*extra small devices*/
@media (max-width: 490px) {
    .modal {
        width: 70%;
        height: 40%;
    }

    .modal-button {
        font-size: smaller;
        width: 135px;
        height: 50px;
    }

    .modal-button:hover {
        transform: scale(1.2);
    }
}

/*mobile devices*/
@media (min-width:291px) and (max-width: 480px) {
    .modal {
        width: 70%;
        height: 30%;
    }

    .modal-button {
        font-size: large;
        width: 180px;
        height: 60px;
    }

    .modal-button:hover {
        transform: scale(1.3);
    }
}

/*iPads, Tablets*/
@media (min-width:481px) and (max-width: 768px) {
    .modal-button {
        font-size: large;
        width: 200px;
        height: 90px;
    }

    .modal-button:hover {
        transform: scale(1.2);
    }
}

/*small screens, laptops*/
@media (min-width: 769px) and (max-width: 1024px) {
    .modal-button {
        font-size: large;
        width: 23vw;
        height: 15vh;
    }
}

/*desctops, large screens*/
@media (min-width: 1025px) and (max-width: 1200px) {
    .modal-button {
        font-size: large;
        width: 20vw;
        height: 15vh;
    }
}

/*extra large screens, TV*/
@media (min-width: 1201px) {
    .modal {
        width: 50%;
        height: 50%;
    }

    .modal-button {
        font-size: x-large;
        width: 18vw;
        height: 15vh;
    }
}